<!DOCTYPE html>
{% from tornado.options import options %}
{% from uuid import uuid4 %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Butterfly - A web terminal based on websocket and tornado">
    <meta name="author" content="Mounier Florian">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ static_url('images/favicon.png') }}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/themes/default/style.min.css" />
    <style type="text/css">
        #treediv li:nth-child(even){
            background-color: #101822;
        }
        .jstree-default .jstree-clicked {
            background: #407288;
        }
        .jstree-default .jstree-hovered {
          background: #40A088;

        }
    </style>

    <title>Butterfly</title>
    <link href="{{ static_url('main.css') }}" rel="stylesheet" id="style">
    <link href="{{ static_url('filetree.css') }}" rel="stylesheet">
    <style type="text/css">
    html, body {
      height: 100%;
      overflow: hidden;
    }
    </style>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js"></script>
    <script src="{{ static_url('html-sanitizer.js') }}"></script>
    <script src="{{ static_url('main.%sjs' % (
    '' if options.unminified else 'min.')) }}"></script>
    <script src="{{ static_url('ext.%sjs' % (
    '' if options.unminified else 'min.')) }}"></script>
    <script src="{{ reverse_url('LocalJsStatic') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/jstree.min.js"></script>
    <script src="{{ static_url('filetree.js')}}"></script>
  </head>

  <body spellcheck="false"
        data-force-unicode-width="{{ 'yes' if options.force_unicode_width else 'no' }}"
        data-root-path="{{ options.uri_root_path }}"
        data-session-token={{ session }}>
        <div id="treediv" style="float:left;width:20%;height:100%;background-color:#203744;">
            <div id="tree"></div>
        </div>
        <div id="editor_and_terminal" style="float:left;background-color:#203744;width:80%;height:100%">
            <div id="menu">
                <div class="btn-group" style="height: 5%">
                    <button id="refresh" class="btn btn-default"><i class="glyphicon glyphicon-repeat"></i></button>
                    <div class="btn-group">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i> <span class="caret"></span></button>
                        <ul class="dropdown-menu" id="font-size">
                            <li><a href="#" data-size="10">小さい</a></li>
                            <li><a href="#" data-size="12">普通</a></li>
                            <li><a href="#" data-size="14">大きい</a></li>
                        </ul>
                    </div>
                    <button id="bold" class="btn btn-default"><i class="glyphicon glyphicon-bold"></i></button>
                    <button id="save" class="btn btn-default"><i class="glyphicon glyphicon-floppy-save"></i></button>
                    <button id="load" class="btn btn-default"><i class="glyphicon glyphicon-folder-open"></i></button>
                </div>
                <div class="input-group" style="height: 5%">
                    <input id="filename" type="text" class="form-control" value="test">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">保存</button>
                    </span>
                </div>
            </div>
            <div id="edirotdiv" style="clear:both;height:60%;background-color:green;">
                <div id="editor" style="height:100%;"></div>
            </div>


            <div id="popup" class="hidden"></div>

            <div id="packed"></div>
            <div id="term" style="position: absolute;bottom:0;width: 100%;height: 32%;overflow: scroll;"></div>

        </div>
  </body>
  <script src="{{static_url('button.js')}}"></script>
</html>
